@import "./variaveis.scss";
// ------------------- common in all code -------------------
@font-face {
    font-family: Anton-Regular;
    src: url("../../assets/font/Anton-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ------------------- end common in all code -------------------

// ------------------- navbar -------------------
header{
    background-image: url(../images/pico-bandeira.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    z-index: -1;
}

.containerr{
    padding: 15px;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    transition: all .5s ease-in-out;
    height: 12vh;
}

.nav-items{
    display: flex;
    li{
        list-style: none;
        margin: 15px;
        letter-spacing: 3px;
        font-weight: 500;
        color: $primary-color;
    }
    li:hover{
        color: $accent-color;
    }
    a{
        text-decoration: none;
    }
}

.active{
    color: $secondary-color;
}

.social-media{
    a{
        margin-right: 7px;
    }
}

.toggle-menu{
    display: none;
    cursor: pointer;
    div{
        transition: 0.3s;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #fff;
    }
}

.line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}  
.line2 {
    opacity: 0;
}
.line3 {
    transform: rotate(45deg) translate(-3px, -3px);
}
// ------------------- end navbar -------------------


// ------------------- header -------------------
.div-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.div-titulo-interno{
    text-align: center;
}
// ------------------- end header -------------------

// ------------------- main ------------------------------
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.introducao{
    display: flex;
    padding: 70px;
    margin-bottom: 100px;
    div{
        width: 100%;
        height: 100%;
    }
}
.titulo{
    color: $secondary-color;
}
.pousadas-cadastradas{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: 4px solid red;
    margin-bottom: 100px;
    padding: 10px;
    width: 100%;
}

.btn-add{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999999;
}

.btn-add-voltar-principal{
    position: fixed;
    left: 20px;
    top: 70px;
    z-index: 9999999;
}
.btn-add-voltar{
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 9999999;
}

.campos{
    margin: 10px 0;
    border-radius: 7px;
    padding: 5px 10px;
}

.descricao{
    height: 150px;
    margin: 10px 0;
    border-radius: 7px;
    padding: 5px 10px;
}

.btn-alterar{
    width: 100px;
    margin: 10px;
}

.btn-image{
    margin: 10px;
    width: 100%;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

// ------------------- end main --------------------------

// -------------------- uma pousada --------------------------
.externo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
}

.interno{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    width: 85%;
    height: fit-content;
    background-color: #fff;
}

.div-img-pousada{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-conteudo-pousada{
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-left: 1px dotted;
    padding: 10px;
}

@media (max-width: 1100px){
    .interno{
        flex-direction: column-reverse;
    }
    .externo{
        height: fit-content;
    }
    .div-img-pousada{
        width: 97%;
        margin-top: 50px;
    }
    .div-conteudo-pousada{
        border-left: 0;
        border-bottom: 1px dotted;
        padding: 70px 0;
    }
}

.div-fotos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    img{
        width: 80px;
        height: 40px;
    }
}

.btn-fotos{
    margin: 5px;
}

.search-ativa{
    display: none;
}

.btn-fotos:hover .search-ativa{
    display: block;
    opacity: 1;
    background-color: #ccc;
    width: 30px;
    height: 30px;
}

.afoto{
    margin: 10px;
    img{
        height: 350px;
        width: 550px;
    }
}

.btn-excluir{
    margin: 7px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add-foto{
    color: #fff !important;
    width: 100px;
    margin: 7px;
}
// -------------------- end uma pousada --------------------------

.carousel-fotos{
    width: 600px;
    height: 600px;
    margin: 40px;
    display: flex;
    justify-content: center;
}

// ----------------------- rodape ----------------------------
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    div{
        text-align: center;
    }
}

.footer{
    border-top: 4px solid $primary-color ;
    background-color: $secondary-color;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.item-rodape{
    width: fit-content;
    margin-bottom: 70px;
}

.formulario-rodape{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    input{
        border-radius: 5px;
        padding: 5px 10px;
        margin-bottom: 7px;
    }
    textarea{
        border-radius: 5px;
        padding: 5px 10px;
        margin-bottom: 7px;
    }
    button{
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 7px;
        background-color: $primary-color;
        color: #fff;
    }
    button:hover{
        border: 5px solid $accent-color;
        color: $accent-color;
        font-weight: bold;
    }
}

.copyright{
    background-color: $secondary-color;
    padding:10px;
}
// --------------------- end rodape --------------------------

// ++++++++++++++++++++++++++++ css responsive ++++++++++++++++++++++++++++

// ------------------- responsive navbar -------------------
@media screen and (max-width: 1000px){
    body {
        overflow-x: hidden;
    }
    .nav-items{
        position: absolute;
        flex-direction: column;
        top: 12vh;
        left: 0;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 170px;
        border: 1px solid $primary-color;  
        background-color: $secondary-color;   
        z-index: 1;
        transform: translateX(100%);
        transition: 0.3s;
        li{
            margin: 0;
        }
    }
    .toggle-menu{
        display: block;
    }
}

.go-back{
    transform: translateX(0%);
}
// ------------------- end responsive navbar -------------------

//------------------------- responsive main --------------------------
@media screen and (max-width: 1000px){
    .introducao{
        flex-direction: column;
        div{
            margin-bottom: 10px;
        }
    }
}
//------------------------- end responsive main --------------------------

// +++++++++++++++++++++++++++ end responsive +++++++++++++++++++++++++++