@font-face {
  font-family: Anton-Regular;
  src: url("../../assets/font/Anton-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-image: url(../images/pico-bandeira.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  z-index: -1;
}

.containerr {
  padding: 15px;
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  height: 12vh;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-items li {
  list-style: none;
  margin: 15px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #122620;
}

.nav-items li:hover {
  color: #F4EBD0;
}

.nav-items a {
  text-decoration: none;
}

.active {
  color: #D6AD60;
}

.social-media a {
  margin-right: 7px;
}

.toggle-menu {
  display: none;
  cursor: pointer;
}

.toggle-menu div {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
}

.line1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
          transform: rotate(-45deg) translate(-8px, 8px);
}

.line2 {
  opacity: 0;
}

.line3 {
  -webkit-transform: rotate(45deg) translate(-3px, -3px);
          transform: rotate(45deg) translate(-3px, -3px);
}

.div-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
}

.div-titulo-interno {
  text-align: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.introducao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px;
  margin-bottom: 100px;
}

.introducao div {
  width: 100%;
  height: 100%;
}

.titulo {
  color: #D6AD60;
}

.pousadas-cadastradas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  border: 4px solid red;
  margin-bottom: 100px;
  padding: 10px;
  width: 100%;
}

.btn-add {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999999;
}

.btn-add-voltar {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 9999999;
}

.campos {
  margin: 10px 0;
  border-radius: 7px;
  padding: 5px 10px;
}

.descricao {
  height: 150px;
  margin: 10px 0;
  border-radius: 7px;
  padding: 5px 10px;
}

.btn-alterar {
  width: 77%;
  margin: 10px;
}

.btn-image {
  margin: 10px;
  width: 100%;
}

.externo {
  border: 5px solid red;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.div-img-pousada {
  width: 49%;
  height: 100%;
  border: 3px solid black;
}

.div-conteudo-pousada {
  width: 49%;
  height: 100%;
  border: 3px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

footer div {
  text-align: center;
}

.footer {
  border-top: 4px solid #122620;
  background-color: #D6AD60;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item-rodape {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 70px;
}

.formulario-rodape {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.formulario-rodape input {
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 7px;
}

.formulario-rodape textarea {
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 7px;
}

.formulario-rodape button {
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 7px;
  background-color: #122620;
  color: #fff;
}

.formulario-rodape button:hover {
  border: 5px solid #F4EBD0;
  color: #F4EBD0;
  font-weight: bold;
}

.copyright {
  background-color: #D6AD60;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .nav-items {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 12vh;
    left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 170px;
    border: 1px solid #122620;
    background-color: #D6AD60;
    z-index: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-items li {
    margin: 0;
  }
  .toggle-menu {
    display: block;
  }
}

.go-back {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (max-width: 1000px) {
  .introducao {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introducao div {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=main.css.map */