@import "./variaveis.scss";
// ------------------- common in all code -------------------
@font-face {
    font-family: Anton-Regular;
    src: url("../../assets/font/Anton-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ------------------- end common in all code -------------------

// ------------------- navbar -------------------
header{
    background-image: url(../images/pico-bandeira.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    z-index: -1;
}

.containerr{
    padding: 15px;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    transition: all .5s ease-in-out;
    height: 12vh;
}

.nav-items{
    display: flex;
    li{
        list-style: none;
        margin: 15px;
        letter-spacing: 3px;
        font-weight: 500;
        color: $primary-color;
    }
    li:hover{
        color: $accent-color;
    }
    a{
        text-decoration: none;
    }
}

.active{
    color: $secondary-color;
}

.social-media{
    a{
        margin-right: 7px;
    }
}

.toggle-menu{
    display: none;
    cursor: pointer;
    div{
        transition: 0.3s;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #fff;
    }
}

.line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}  
.line2 {
    opacity: 0;
}
.line3 {
    transform: rotate(45deg) translate(-3px, -3px);
}
// ------------------- end navbar -------------------


// ------------------- header -------------------
.div-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.div-titulo-interno{
    text-align: center;
}
// ------------------- end header -------------------

// ------------------- main ------------------------------
.introducao{
    display: flex;
    padding: 70px;
    div{
        width: 100%;
        height: 100%;
    }
}
.titulo{
    color: $secondary-color;
}
// ------------------- end main --------------------------

// ++++++++++++++++++++++++++++ css responsive ++++++++++++++++++++++++++++

// ------------------- responsive navbar -------------------
@media screen and (max-width: 1000px){
    body {
        overflow-x: hidden;
    }
    .nav-items{
        position: absolute;
        flex-direction: column;
        top: 12vh;
        left: 0;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 170px;
        border: 1px solid $primary-color;  
        background-color: $secondary-color;   
        z-index: 1;
        transform: translateX(100%);
        transition: 0.3s;
        li{
            margin: 0;
        }
    }
    .toggle-menu{
        display: block;
    }
}

.go-back{
    transform: translateX(0%);
}
// ------------------- end responsive navbar -------------------


// +++++++++++++++++++++++++++ end responsive +++++++++++++++++++++++++++